
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)),
        url(bg.jpg) no-repeat center center;
    background-size: cover;
   
    z-index: -1;
}

#countdown {
    font-size: 10em;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}
